*{margin: 0;}
body{
    background: #c9f9c3;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 0px #000;
}

section{
    width: 30%;
    float: left;
}
.columna1{
    background: #00ff00;
}

.columna2{
    background: #ff0000;
    width: 40%;
}

.columna3{
    background: #0000ff;
}

@media screen and (max-width:800px){
    img{
        width: 100%;
    }
    .columna2{
        width: 70%;
    }
    .columna3{
        width: 100%;
    }
}
@media screen and (max-width:480px){
    section{
        width: 100% !important;
    }
}